:root{
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    color: rgb(254, 255, 255);
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 1.5fr 1.5fr 1fr;
    grid-template-areas:  "Header menu menu menu"
    "hero hero hero hero"
    "main main image image "
    "main main extra extra"
    "banner banner banner banner";

    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.Header{
    align-items: center;
    display: grid;
    background-color: rgb(0, 0, 0);
    grid-area: Header;
    padding: var(--my-padding);
}
.menu{
    align-items: center;
    display: grid;
    background-color: rgb(230, 0, 0);
    grid-area: menu;
    padding: var(--my-padding);
}
.hero{
    align-items: center;
    display: grid;
    background-color: rgb(90, 86, 110);
    grid-area: hero;
    padding: var(--my-padding);
}
.main{
    align-items: center;
    display: grid;
    background-color: rgb(90, 30, 30);
    grid-area: main;
    padding: var(--my-padding);
}
.image{
    align-items: center;
    display: grid;
    background-color: rgb(219, 187, 240);
    grid-area: image;
    padding: var(--my-padding);
}
.extra {
    align-items: center;
    display: grid;
    background-color: rgb(50, 170, 76);
    grid-area: extra;
    padding: var(--my-padding);
}
.banner{
    align-items: center;
    display: grid;
    background-color: rgb(202, 93, 3);
    grid-area: banner;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {
    
    .container{
        gap: 0;
        grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 4fr 6fr 2fr 2fr;
        grid-template-areas:
        "Header Header Header Header"
        "hero hero hero hero"
        "menu main main main"
        "menu banner banner banner"
        "menu extra extra image";
        }
    }

@media (max-width: 480px) {
   
    .container {
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1.5fr 2fr 1fr 1fr 1fr;
        grid-template-areas: "Header"
        "menu"
        "hero" 
        "main"
        "banner"
        "extra"
        "image";
    }
    
}